---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<ul class="flex flex-col gap-2">
		<li><a class="font-bold text-lg text-blue-700" href="/react">React</a></li>
		<li><a class="font-bold text-lg text-green-700" href="/vue">Vue</a></li>
		<li><a class="font-bold text-lg text-orange-700" href="/svelte">Svelte</a></li>
	</ul>
</Layout>
