---
import Layout from "../layouts/Layout.astro";
import Lorem from "../components/Lorem.astro";
import AlertButtonReact from "../components/AlertButtonReact";
---

<Layout>
	<div><a class="font-bold text-lg text-grey-700" href="/">Zurück</a></div>
	<Lorem />
	<AlertButtonReact client:visible />
</Layout>
