---
import Layout from "../layouts/Layout.astro";
import Lorem from "../components/Lorem.astro";
import AlertButtonVue from "../components/AlertButtonVue.vue";
---

<Layout>
	<div><a class="font-bold text-lg text-grey-700" href="/">Zurück</a></div>
	<Lorem />
	<AlertButtonVue client:visible />
</Layout>
